<div class="middle">
  <div>
    <h1><%= @team.name %></h1>
    <h3><%= @team.league.name %></h3>
    <h4>4th Place</h4>
    <h4><%= @team.total_points %> Points</h4>
  </div>
  
  <div>
    <%= link_to "View Standings", "", :class => "btn" %>
    <%= link_to "League Info", "", :class => "btn" %>
  </div>
  
  <div>
    <%= link_to "Add Player", "", :class => "btn btn-success" %>
    <%= link_to "Drop Player", "", :class => "btn btn-danger"%>
  </div>
  
  <div>
    <h2>Players</h2>
    <table class="table table-hover">
      <thead>
        <tr><th>Name</th><th>Country</th><th>Ranking</th><th>Year ATP Points</th><th>Win-Loss</th></tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= link_to player.name, player.full_link, :target => "_blank" %></td>
            <td><%= player.country %></td>
            <td><%= player.rank %></td>
            <td><%= player.atp_points %></td>
            <td><%= player.wins %> - <%= player.losses %></td>
          </tr>
        <% end %>
      
    </table>
  </div>
  
</div>