<%= render 'shared/navbar' %>

<div class="middle">
  <div>
    <h1><%= @team.name %></h1>
    <h3><%= @team.league.name %></h3>
    <h4><%= @team.get_place %></h4>
    <h4><%= @team.total_points %> Points</h4>
  </div>
  
  <div>
    <%= link_to "View League Info", league_path(@team.league), :class => "btn" %>
  </div>
  
  <div>
    <%= link_to "Add Players", available_league_path(@team.league), :class => "btn btn-success" %>
    <%= link_to "Drop Players", "", :class => "btn btn-danger", :id => "dropbutton" %>
  </div>
  
  <div>
    <h2>Players</h2>
    <%= render :partial => 'shared/players', :locals => { :players => @players } %>
  </div>
</div>