<div class="centered">
  <h2>Join a League</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>League Name</th>
        <th>Draft Time</th>
        <th>Teams Filled</th>
        <th>Players per Team</th>
      </tr>
    </thead>
    <tbody>
      <% @all_leagues.each do |league| %>
        <tr>
          <td><%= league.name %></td>
          <td><%= format_draft_date(league) %></td>
          <td><%= league.teams.count %> / <%= league.num_teams %></td>
          <td><%= league.players_per_team %></td>
          <td><%= link_to "Join", league_path(league), :class => "btn" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>