<table class="table table-hover">
  <thead>
    <tr><th>Name</th><th>Country</th><th>Ranking</th><th>Year ATP Points</th><th>Win-Loss</th></tr>
  </thead>
  <tbody>
    <% players.each do |player| %>
      <tr>
        <td><%= link_to player.name, player.full_link, :target => "_blank" %></td>
        <td><%= player.country %></td>
        <td><%= player.rank %></td>
        <td><%= player.atp_points %></td>
        <td><%= player.wins %> - <%= player.losses %></td>
        <td class="drop" style="display: none;"><%= link_to "Drop", "", :class => "btn btn-danger btn-small", :id => player.id %></td>
        <td class="add"  style="display: none;">
          <%= form_tag add_league_path, :class => "nopad" do %>
            <%= button_tag "Add", :class => "btn btn-success btn-small" %>
            <%= hidden_field_tag "player_id", player.id %>
          <% end %>
        </td>
      </tr>
    <% end %>
</table>