<div class="middle">
  <div>
    <ul class="inline">
      <% @draft_order.each do |team| %>
        <li class="selected">
          <h4><%= team.name %></h4>
          <% if team == @team %>
            <p>(Your Team)<p>
          <% else %>
            <p></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  
  <div class="column">
    <h2>Current Player</h2>
    <table>
      <tr>
        <td><h3 data-bind="text: current_player"></h3></td>
        <td><h3 data-bind="text: current_bid"></h3></td>
        <td><h4 data-bind="text: current_team"></h4></td>
      </tr>
    </table>
    
    <table>
      <tr>
        <td><label for="bid_input">$</label></td>
        <td><input id="bid_input" type="number" style="width: 100px;" min="0" data-bind="value: start_bid, attr: { min: start_bid, max: money }"/></td>
      </tr>
    </table>
    
    <button id="bid" class="btn btn-large btn-primary" data-bind="css: { disabled: !can_bid() }, attr: { disabled: !can_bid() }">Bid Now</button>
  </div>
  
  <div class="timer">
    <h1 data-bind="text: seconds_format, css: { timer_low: seconds() < 6 }">Time: 10</h3>
  </div>
  
  <div class="column scrollbar middle" style="clear: left;">
    <table class="table-hover table">
      <thead>
        <tr>
          <th>Player Name</th>
          <th>Country</th>
          <th>Ranking</th>
        </tr>
      </thead>
      
      <tbody id="available">
        <%= render 'available' %>
      </tbody>
    </table>
  </div>
  
  <div class="column">
    <h3 data-bind="text: money_format"></h3>
    
    <h4>My Team</h4>
    <h3 id="team_name"><%= @team.name %></h3>
    <table id="myteam" class="table table-hover table-bordered" style="width: 200px;">
      <%= render 'team' %>
    </table>
    
  </div>
</div>

<script type="text/javascript">
  $(function() {
    viewModel.current_player("<%= @draft.player %>");
    viewModel.bid("<%= @draft.bid %>");
    viewModel.current_team("<%= current_team_name(@draft) %>");
    viewModel.nominator("<%= current_nominator(@draft) %>");
    viewModel.hide_nominate();
  });
</script>
