<!DOCTYPE html>
<html>
<head>
  <title>FantasyTennis</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "/faye.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <div class="alert center <%= name %>">
    <a class="close" data-dismiss="alert">&times;</a>
    <%= msg %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
